<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }

    h1 {
      color: #fbb03b; /* Amarillo del título */
    }

    p {
      font-size: 16px;
      color: #333333;
      line-height: 1.6;
    }

    a.button {
      display: inline-block;
      background-color: #fbb03b; /* Amarillo del botón */
      color: white;
      padding: 12px 30px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
      margin-top: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
    }

    a.button:hover {
      background-color: #e0a32b; /* Un tono más oscuro de amarillo al hacer hover */
    }

    .footer {
      text-align: center;
      font-size: 12px;
      color: #999999;
      margin-top: 20px;
    }

    .logo {
      text-align: center;
      margin-bottom: 20px;
    }

    .logo img {
      width: 150px;
    }

    .button-container {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="cid:logoImage" alt="Kuva Photo Booth">
    </div>
    <h1>Restablecimiento de contraseña</h1>
    <p>Hola <%= name %>,</p>
    <p>Has solicitado restablecer tu contraseña. Haz clic en el siguiente enlace para continuar. Tienes 10 minutos para realizar esta acción:</p>
    <div class="button-container">
      <a href="<%= resetUrl %>" class="button">Restablecer Contraseña</a>
    </div>
    <p>Si no solicitaste este cambio, por favor ignora este correo.</p>
    <p>Gracias,</p>
    <p>El equipo de Kuva Photo Booth</p>
  </div>
  <div class="footer">
    <p>&copy; 2024 Kuva Photo Booth. Todos los derechos reservados.</p>
  </div>
</body>
</html>
